<section id="get-started" class="get-started">
    <div class="container get-started__container">
        <div class="get-started__form-wrapper">
            <h3 class="get-started__form-title heading-h4">
                Let’s level up your brand
            </h3>
            <p class="get-started__form-text text-p-madium">
                You can reach us anytime
                <a href="#" class="get-started__form-link"
                    >hellosansbrothers@gmail.com</a
                >
            </p>
            <form action="" class="get-started__form">
                <div class="get-started__form-top">
                    <label class="get-started__form-label text-p-small">
                        First name
                        <input
                            required
                            type="text"
                            class="get-started__form-input"
                            name="first-name"
                            placeholder="First name"
                        />
                    </label>
                    <label class="get-started__form-label text-p-small">
                        Last name
                        <input
                            required
                            type="text"
                            class="get-started__form-input"
                            name="last-name"
                            placeholder="Last name"
                        />
                    </label>
                </div>
                <label class="get-started__form-label text-p-small">
                    Email
                    <input
                        required
                        type="email"
                        class="get-started__form-input"
                        name="email"
                        placeholder="you@company.com"
                    />
                </label>
                <label class="get-started__form-label text-p-small">
                    Phone number
                    <input
                        required
                        id="phone"
                        type="tel"
                        class="get-started__form-input"
                        name="phone"
                        placeholder=""
                    />
                </label>
                <label class="get-started__form-label text-p-small">
                    Phone
                    <textarea
                        type="text"
                        class="get-started__form-input get-started__form-input--textarea"
                        name="message"
                        placeholder="Leave us a message..."
                    ></textarea>
                </label>
                <button class="get-started__form-btn button-form">
                    Get Started
                </button>
            </form>
        </div>
        <img
            loading="lazy"
            class="get-started__img"
            src="./assets/images/get-started-img.jpg"
            width="987"
            height="885"
            alt="A woman and a man high-five each other"
        />
    </div>
</section>
