:root {
    // neutral colors
    --neutral-colors-10: #fff;
    --neutral-colors-20: #f5f5f5;
    --neutral-colors-60: #18181d;
    --neutral-colors-100: #1d1e25;
    
    // container
    --container-padding: 15px;
    --container-width: 1200px;
}

[data-them='dark'] {
    --neutral-colors-10: #1d1e25;
    --neutral-colors-100: #fff;
}
