.staff {
    padding: 160px 0 100px;

    @include mobile {
        padding: 80px 0 50px;
    }

    &__text {
        margin-bottom: 80px;

        @include mobile {
            margin-bottom: 40px;
        }
    }

    &__title {
        margin-bottom: 24px;
        max-width: 800px;
        font-weight: 600;
        line-height: 120%;
        letter-spacing: -0.04em;
    }

    &__descr {
        max-width: 523px;
        font-weight: 500;
        line-height: 178%;
        color: var(--neutral-color-150);
    }

    &__swiper {
        max-height: 521px;
    }

    &__slider {
        &-wrapper {
            max-width: 379px;

            @include mobile {
                display: flex;
                flex-direction: column;
                align-items: center;
                max-width: none;
            }
        }

        &-img {
            margin-bottom: 16px;
            width: 379px;
            height: 434px;
        }

        &-info {
            @include flex-justify-between;
            width: 100%;
            height: 71px;
        }

        &-person {
            @include flex-justify-between;
            flex-direction: column;
        }

        & &-links {
            display: flex;
            gap: 8px;
        }

        &-link {
            @include flex-all-center;
            border-radius: 50%;
            width: 32px;
            height: 32px;
            background-color: #e8e8eb;
            transition: opacity var(--transition);

            &:hover {
                opacity: 0.8;
            }
        }
    }

    &__person {
        &-name {
            font-weight: 600;
            line-height: 150%;
        }

        &-position {
            font-weight: 500;
            line-height: 150%;
            color: var(--neutral-color-150);
        }
    }
}
