<section class="activity">
    <div class="container">
        <div class="activity__text">
            <h2 class="activity__title heading-h1">Activity & Updates</h2>
            <p class="activity__descr text-p-subtitle">
                Our biggest challenge is making sure we're always designing and
                building products that will help you run your business better.
            </p>
        </div>
        <div class="activity__sections">
            <a
                href="#"
                class="activity__sections-link text-p-default activity__sections-link--active"
                >View all</a
            >
            <a href="#" class="activity__sections-link text-p-default"
                >Design</a
            >
            <a href="#" class="activity__sections-link text-p-default"
                >Articles</a
            >
            <a href="#" class="activity__sections-link text-p-default"
                >Product</a
            >
            <a href="#" class="activity__sections-link text-p-default"
                >Software Development</a
            >
            <a href="#" class="activity__sections-link text-p-default"
                >Customer Success</a
            >
        </div>
        <div class="swiper activity__swiper">
            <div class="swiper-wrapper">
                <div class="swiper-slide activity__slide">
                    <img
                        class="activity__slide-img"
                        src="./assets/images/blog-activity-1-img.jpg"
                        alt=""
                    />
                    <p class="activity__slide-data text-p-small">
                        Published in Insight Jan 30, 2021
                        <span>by : Albert Sans</span>
                    </p>
                    <h3 class="activity__slide-title heading-h4">
                        Practice making User Flow
                    </h3>
                    <p class="activity__slide-descr text-p-medium">
                        In this article, we'll cover how to create user flows
                    </p>
                </div>
                <div class="swiper-slide activity__slide">
                    <img
                        class="activity__slide-img"
                        src="./assets/images/blog-activity-2-img.jpg"
                        alt=""
                    />
                    <p class="activity__slide-data text-p-small">
                        Published in Insight Jan 30, 2021
                        <span>by : Albert Sans</span>
                    </p>
                    <h3 class="activity__slide-title heading-h4">
                        Overview of the Design Principles
                    </h3>
                    <p class="activity__slide-descr text-p-medium">
                        What are Design Principles?… To understand design
                        principles, we first discuss the principles.
                    </p>
                </div>
                <div class="swiper-slide activity__slide">
                    <img
                        class="activity__slide-img"
                        src="./assets/images/blog-activity-3-img.jpg"
                        alt=""
                    />
                    <p class="activity__slide-data text-p-small">
                        Published in Insight Jan 30, 2021
                        <span>by : Albert Sans</span>
                    </p>
                    <h3 class="activity__slide-title heading-h4">
                        Using Grid in website design
                    </h3>
                    <p class="activity__slide-descr text-p-medium">
                        Using Grid in website design
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
