<footer class="footer">
    <div class="container">
        <div class="footer__head">
            <div class="footer__text">
                <h3 class="footer__title heading-h1">Think beyond the wave</h3>
                <p class="footer__descr text-p-medium">
                    Ask about Sans products, pricing, implementation, or
                    anything else. Our highly trained reps are standing by,
                    ready to help
                </p>
            </div>
            <a href="#" class="footer__btn button-form">Try for free</a>
        </div>
        <div class="footer__body">
            <div class="footer__body-info">
                <a href="/" class="footer__body-logo">
                    <img
                        loading="lazy"
                        src="./assets/icons/light-logo-svg.svg"
                        width="140"
                        height="66"
                        alt="Coco logo"
                    />
                </a>
                <p class="footer__body-descr text-p-default">
                    We built an elegant solution. Our team created a fully
                    integrated sales and marketing solution for SMBs
                </p>
            </div>
            <nav class="footer__nav">
                <ul class="footer__list">
                    <li class="footer__item">
                        <h4 class="footer__item-title text-p-default">
                            Company
                        </h4>
                        <ul class="footer__sublist">
                            <li class="footer__subitem">
                                <a
                                    href="/about.html"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    About
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="/pricing.html"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Pricing
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="/jobs.html"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Jobs
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="/blog.html"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Blog
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <h4 class="footer__item-title text-p-default">
                            Product
                        </h4>
                        <ul class="footer__sublist">
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Sales Software
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Marketplace
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Terms & Conditions
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Privacy Policy
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <h4 class="footer__item-title text-p-default">
                            Discover
                        </h4>
                        <ul class="footer__sublist">
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    CRM Comparision
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Partner Program
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    What is CRM
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Resource
                                </a>
                            </li>
                        </ul>
                    </li>
                    <li class="footer__item">
                        <h4 class="footer__item-title text-p-default">
                            Help Center
                        </h4>
                        <ul class="footer__sublist">
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Community
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Knowledge Base
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Academy
                                </a>
                            </li>
                            <li class="footer__subitem">
                                <a
                                    href="#"
                                    class="footer__subitem-link text-p-default text-p-default"
                                >
                                    Support
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>
        <div class="footer__bottom">
            <div class="footer__bottom-lists">
                <ul class="footer__social-list">
                    <li class="footer__social-item">
                        <a
                            href="#"
                            class="footer__social-link"
                            aria-label="Facebook"
                            ><img
                                loading="lazy"
                                src="./assets/icons/socials/fb-icons-svg.svg"
                                alt="Facebook link"
                                width="20"
                                height="20"
                            />
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a
                            href="#"
                            class="footer__social-link"
                            aria-label="Twitter"
                            ><img
                                loading="lazy"
                                src="./assets/icons/socials/x-icons-svg.svg"
                                alt="Twitter link"
                                width="20"
                                height="20"
                            />
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a
                            href="#"
                            class="footer__social-link"
                            aria-label="Instagram"
                            ><img
                                loading="lazy"
                                src="./assets/icons/socials/inst-icons-svg.svg"
                                alt="Instagram link"
                                width="20"
                                height="20"
                            />
                        </a>
                    </li>
                    <li class="footer__social-item">
                        <a
                            href="#"
                            class="footer__social-link"
                            aria-label="LinkedIn"
                            ><img
                                loading="lazy"
                                src="./assets/icons/socials/in-icons-svg.svg"
                                alt="LinkedIn link"
                                width="20"
                                height="20"
                            />
                        </a>
                    </li>
                </ul>
                <ul class="footer__bottom-list">
                    <li class="footer__bottom-item">
                        <a href="#" class="footer__bottom-link text-p-small"
                            >Privacy Policy</a
                        >
                    </li>
                    <li class="footer__bottom-item">
                        <a href="#" class="footer__bottom-link text-p-small"
                            >Terms & Conditions</a
                        >
                    </li>
                    <li class="footer__bottom-item">
                        <a href="#" class="footer__bottom-link text-p-small"
                            >Support</a
                        >
                    </li>
                </ul>
            </div>
            <div class="footer__copyright text-p-small">
                © Copyright 2023, All Rights Reserved
            </div>
        </div>
    </div>
</footer>
